:host ::ng-deep ng2-smart-table td:nth-child(5){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(6){
  text-align: right;
  // max-width: 100px;
  // width: 100%;
}
:host ::ng-deep ng2-smart-table td:nth-child(7){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(8){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(9){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(10){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(11){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(12){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(13){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(14){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(15){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(16){
  text-align: right;
}
img{
  width: 10px !important;
}
:host ::ng-deep .rojo{
  color: #ff0000;
  margin-left: 5px;
}
:host ::ng-deep .verde{
  color: #44bf16;
  margin-left: 5px;
}
:host ::ng-deep .imagen{
  max-width: 16px;
  width: 100%;
}
:host ::ng-deep .caja{
  display: flex;
  flex-direction: row;
}
