<div id="ventasSemanales">
  <table class="table table-striped" style="height: 429px;">
    <thead>
      <tr>
        <th scope="col" style="text-align: center;">Id Producto</th>
        <th scope="col" style="text-align: center;">Id Categoría</th>
        <th scope="col" style="text-align: center;">Categoría</th>
        <th scope="col" style="text-align: center;">Activo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of source">
        <td align="center">{{ dato.id_product }}</td>
        <td align="center">{{ dato.id_category_default }}</td>
        <td align="center">{{ dato.name }}</td>
        <td align="center">{{ dato.active }}</td>
      </tr>
    </tbody>
  </table>

</div>
