<!--Precios cambiados en Tienda-->
<nb-card *ngIf="preciosCambiados > 0">
  <nb-card-header>Control de precios Ax vs ORION91</nb-card-header>
  <nb-card-body>
    <ngx-precios-cambiados></ngx-precios-cambiados>
  </nb-card-body>
</nb-card>

<!--Pedidos en Pre-Almacen-->
<nb-card *ngIf="preAlmacen > 0">
  <nb-card-header>Pedidos en Pre-Almacén</nb-card-header>
  <nb-card-body>
    <ngx-pre-almacen></ngx-pre-almacen>
  </nb-card-body>
</nb-card>

<!--Pagos Fraccionados-->
<nb-card *ngIf="pedidosFraccionados > 0">
  <nb-card-header>Pagos Fraccionados pendientes de aceptar</nb-card-header>
  <nb-card-body>
    <ngx-pagos-fraccionados></ngx-pagos-fraccionados>
  </nb-card-body>
</nb-card>

<!--Diferencia de Pagos-->
<nb-card *ngIf="pedidosPagados > 0">
  <nb-card-header>Diferencia de Pagos</nb-card-header>
  <nb-card-body>
    <span>Pedidos con diferencia entre lo pagado y lo cobrado.</span><br><br>
    <ngx-diferencia-de-pagos></ngx-diferencia-de-pagos>
  </nb-card-body>
</nb-card>

<!--Pendientes Almacén-->
<nb-card *ngIf="pedidosPendientes > 0">
  <nb-card-header>Pendientes Almacén</nb-card-header>
  <nb-card-body>
    <span>Pedidos pagados y que no han pasado a AX (Diferencia horas +3).</span><br><br>
    <ngx-pendientes-almacen></ngx-pendientes-almacen>
  </nb-card-body>
</nb-card>

<!--Pedidos de Makro sin Stock-->
<nb-card *ngIf="makroSinStock > 0">
  <nb-card-header>Pedidos de Makro sin Stock</nb-card-header>
  <nb-card-body>
    <ngx-pedidos-makro-sin-stock></ngx-pedidos-makro-sin-stock>
  </nb-card-body>
</nb-card>

<!--Alertas Amazon-->
<nb-card *ngIf="mpAmazon > 0">
  <nb-card-header>Productos con más de 200 caracteres en nombre AMAZON</nb-card-header>
  <nb-card-body>
    <ngx-alertas-amazon></ngx-alertas-amazon>
  </nb-card-body>
</nb-card>

<!--Errores AliExpress-->
<nb-card *ngIf="erroresAli > 0">
  <nb-card-header>Errores AliExpress</nb-card-header>
  <nb-card-body>
    <ngx-errores-ali-express></ngx-errores-ali-express>
  </nb-card-body>
</nb-card>

<!--Predeterminado Sin Stock-->
<nb-card *ngIf="predeterminados > 0">
  <nb-card-header>Combinados Predeterminados Sin Stock</nb-card-header>
  <nb-card-body>
    <ngx-combinados-predeterminados-sin-stock></ngx-combinados-predeterminados-sin-stock>
  </nb-card-body>
</nb-card>

<!--Categorias redireccionadas-->
<nb-card *ngIf="redireccionadas > 0">
  <nb-card-header>Control categorías Redireccionadas con productos asignados</nb-card-header>
  <nb-card-body>
    <ngx-categorias-redireccionadas></ngx-categorias-redireccionadas>
  </nb-card-body>
</nb-card>

<!--Categorias Vacias-->
<nb-card *ngIf="categoriasVacias > 0">
  <nb-card-header>Categorías Vacías </nb-card-header>
  <nb-card-body>
    <ngx-categorias-vacias></ngx-categorias-vacias>
  </nb-card-body>
</nb-card>

<!--Pedidos de transferencia bancaria sin Stock-->
<nb-card *ngIf="pedidosTransferencia > 0">
  <nb-card-header>Pedidos Transferencia Bancaria sin Stock</nb-card-header>
  <nb-card-body>
    <ngx-pedido-transferencia-bancaria></ngx-pedido-transferencia-bancaria>
  </nb-card-body>
</nb-card>

<!--Productos desactivados en elementor-->
<!-- <nb-card>
  <nb-card-header>Productos desactivados en slider de elementor</nb-card-header>
  <nb-card-body>
    <ngx-productos-elementor></ngx-productos-elementor>
  </nb-card-body>
</nb-card> -->



