<!--Pagos Fraccionados-->
<nb-card>
  <nb-card-header>Pagos Fraccionados</nb-card-header>
  <nb-card-body>
    <ngx-pagos-fraccionados></ngx-pagos-fraccionados>
  </nb-card-body>
</nb-card>

<!--Diferencia de Pagos-->
<nb-card>
  <nb-card-header>Diferencia de Pagos</nb-card-header>
  <nb-card-body>
    <span>Pedidos con diferencia entre lo pagado y lo cobrado.</span><br><br>
    <ngx-diferencia-de-pagos></ngx-diferencia-de-pagos>
  </nb-card-body>
</nb-card>

<!--Pendientes Almacén-->
<nb-card>
  <nb-card-header>Pendientes Almacén</nb-card-header>
  <nb-card-body>
    <span>Pedidos pagados y que no han pasado a AX (Diferencia horas +3).</span><br><br>
    <ngx-pendientes-almacen></ngx-pendientes-almacen>
  </nb-card-body>
</nb-card>

<!--Pedidos de Makro sin Stock-->
<nb-card>
  <nb-card-header>Pedidos de Makro sin Stock</nb-card-header>
  <nb-card-body>
    <ngx-pedidos-makro-sin-stock></ngx-pedidos-makro-sin-stock>
  </nb-card-body>
</nb-card>

<!--Errores AliExpress-->
<nb-card>
  <nb-card-header>Errores AliExpress</nb-card-header>
  <nb-card-body>
    <ngx-errores-ali-express></ngx-errores-ali-express>
  </nb-card-body>
</nb-card>

<!--Predeterminado Sin Stock-->
<nb-card>
  <nb-card-header>Combinados Predeterminados Sin Stock</nb-card-header>
  <nb-card-body>
    <ngx-combinados-predeterminados-sin-stock></ngx-combinados-predeterminados-sin-stock>
  </nb-card-body>
</nb-card>
