<!--Pedidos > 3 dias no Enviados-->
<nb-card *ngIf="pedidosNoEnviados > 0">
  <nb-card-header>Pedidos > 3 dias NO ENVIADOS</nb-card-header>
  <nb-card-body>
    <span>Control pedidos de hace 3 días no enviados o no cambiado el estado a ENVIADO.</span><br><br>
    <ngx-pedidos-no-enviados></ngx-pedidos-no-enviados>
  </nb-card-body>
</nb-card>

<!--Precios cambiados en Tienda-->
<nb-card *ngIf="preciosCambiados > 0">
  <nb-card-header>Control de precios Ax vs ORION91</nb-card-header>
  <nb-card-body>
    <span>Controlamos los precios que llegan de AX y si existe alguna diferencia los mostramos. Suele ocurrir cuando se han cambiado precios en AX y no se han pasado proceso de PRECIOS.</span><br><br>
    <ngx-precios-cambiados></ngx-precios-cambiados>
  </nb-card-body>
</nb-card>

<!--Precio Base < Precio Oferta-->
<nb-card *ngIf="precioBaseMenorPrecioOferta > 0">
  <nb-card-header>Control de Precio Base < Precio Oferta</nb-card-header>
  <nb-card-body>
    <ngx-precio-base-menor-aprecio-oferta></ngx-precio-base-menor-aprecio-oferta>
  </nb-card-body>
</nb-card>

<!--Pedidos en Pre-Almacen-->
<nb-card *ngIf="preAlmacen > 0">
  <nb-card-header>Pedidos en Pre-Almacén</nb-card-header>
  <nb-card-body>
    <span>Son pedidos por un error de Waadby, Si la cantidad pedida - cantidad existente = 0, coloca este estado y no pasa a AX. Hay que entrar en el pedido ver las existencias y poner a estado "Pagado" en caso de existencias > 0.</span><br><br>
    <ngx-pre-almacen></ngx-pre-almacen>
  </nb-card-body>
</nb-card>

<!--Pagos Fraccionados-->
<nb-card *ngIf="pedidosFraccionados > 0">
  <nb-card-header>Pagos Fraccionados</nb-card-header>
  <nb-card-body>
    <span>Entrar en la plataforma de SEQURA, comprobar que lo hayan aceptado y en caso afirmativo colocar el estado a "Pagado".</span><br><br>
    <ngx-pagos-fraccionados></ngx-pagos-fraccionados>
  </nb-card-body>
</nb-card>

<!--Diferencia de Pagos-->
<nb-card *ngIf="pedidosPagados > 0">
  <nb-card-header>Diferencia de Pagos</nb-card-header>
  <nb-card-body>
    <span>Existe un error en algunas pasarelas en las que no cobra lo mismo al cliente que el importe del pedido. Suele ser por algún carrito caducado con algún tipo de descuento.</span><br><br>
    <ngx-diferencia-de-pagos></ngx-diferencia-de-pagos>
  </nb-card-body>
</nb-card>

<!--Pendientes Almacén-->
<nb-card *ngIf="pedidosPendientes > 0">
  <nb-card-header>Pendientes Almacén</nb-card-header>
  <nb-card-body>
    <span>Pedidos con el estado aceptado = OK, pero que no han pasado a AX. Excepto AliExpress que los retenemos 2 horas. Verificar la dirección del cliente no sea Canarias/Baleares, código postal 5 caracteres.....</span><br><br>
    <ngx-pendientes-almacen></ngx-pendientes-almacen>
  </nb-card-body>
</nb-card>

<!--Pedidos de Makro sin Stock-->
<nb-card *ngIf="makroSinStock > 0">
  <nb-card-header>Pedidos de Makro sin Stock</nb-card-header>
  <nb-card-body>
    <span>Pedidos de Makro que no se pueden servir debido a que ya no tenemos stock. Ir a la plataforma de Makro y cancelar dichos pedidos.</span><br><br>
    <ngx-pedidos-makro-sin-stock></ngx-pedidos-makro-sin-stock>
  </nb-card-body>
</nb-card>

<!--Alertas Amazon-->
<nb-card *ngIf="mpAmazon > 0">
  <nb-card-header>MP NombreArticulo > 200 caracteres(AMAZON)</nb-card-header>
  <nb-card-body>
    <span>Amazon no permite nombres de más de 200 caracteres. Solucionar en AX y volver a pasar procesos.</span><br><br>
    <ngx-alertas-amazon></ngx-alertas-amazon>
  </nb-card-body>
</nb-card>

<!--Errores AliExpress-->
<nb-card *ngIf="erroresAli > 0">
  <nb-card-header>Errores AliExpress</nb-card-header>
  <nb-card-body>
    <span>Caso error City: Ir al módulo de Aliexpress en PrestaShop y comprobar que la ciudad haya entrado con Nombre Correcto o Provincia, ejemplo: La Coruña -> A'Coruna</span><br><br>
    <ngx-errores-ali-express></ngx-errores-ali-express>
  </nb-card-body>
</nb-card>

<!--Predeterminado Sin Stock-->
<nb-card *ngIf="predeterminados > 0">
  <nb-card-header>Combinados Predeterminados Sin Stock</nb-card-header>
  <nb-card-body>
    <span>La combinación predeterminada del artículo se ha quedado sin stock. Entrar al articulo y seleccionar como predeterminada la que tenga stock.</span><br><br>
    <ngx-combinados-predeterminados-sin-stock></ngx-combinados-predeterminados-sin-stock>
  </nb-card-body>
</nb-card>

<!--Categorias redireccionadas-->
<nb-card *ngIf="redireccionadas > 0">
  <nb-card-header>Control categorías Redireccionadas con productos asignados</nb-card-header>
  <nb-card-body>
    <span>Se ha creado una redirección 301 a una categoría y en algún momento se le ha vuelto a asignar algún producto activo. Quitar la redirecciona  la categoría o reasignar los productos a otra categoría.</span><br><br>
    <ngx-categorias-redireccionadas></ngx-categorias-redireccionadas>
  </nb-card-body>
</nb-card>

<!--Categorias Vacias-->
<nb-card *ngIf="categoriasVacias > 0">
  <nb-card-header>Categorías Vacías </nb-card-header>
  <nb-card-body>
    <span>Existen categorías sin productos asignados. Solución-> Volver a asignar productos a dicha categoría o hacer una redirección 301 a la categoría.</span><br><br>
    <ngx-categorias-vacias></ngx-categorias-vacias>
  </nb-card-body>
</nb-card>

<!--Pedidos de transferencia bancaria sin Stock-->
<nb-card *ngIf="pedidosTransferencia > 0">
  <nb-card-header>Pedidos Transferencia Bancaria sin Stock</nb-card-header>
  <nb-card-body>
    <span>Existen pedidos pendientes de pagar y que no se van a poder servir debido a la falta de stock. ¡¡OJO¡¡ no solicitar el pago de estos pedidos.</span><br><br>
    <ngx-pedido-transferencia-bancaria></ngx-pedido-transferencia-bancaria>
  </nb-card-body>
</nb-card>

<!--Productos Sin Ean13-->
<nb-card *ngIf="ean13 > 0">
  <nb-card-header>Productos sin Ean13 y con Stock</nb-card-header>
  <nb-card-body>
    <span>Productos activos sin EAN13, este dato es vital para poder publicar los productos en los MP y los DS.</span><br><br>
    <ngx-productos-sin-ean13></ngx-productos-sin-ean13>
  </nb-card-body>
</nb-card>

<!--Pedidos Enviados Ax Pendientes-->
<nb-card *ngIf="pendientesAx > 0">
  <nb-card-header>Pedidos Enviados AX y no Procesados</nb-card-header>
  <nb-card-body>
    <ngx-pedidos-enviados-ax></ngx-pedidos-enviados-ax>
  </nb-card-body>
</nb-card>

<!--Pedidos Pendientes de Validación-->
<nb-card *ngIf="pedidosPendienteValidacion > 0">
  <nb-card-header>Pedidos Pendiente Validación</nb-card-header>
  <nb-card-body>
    <ngx-pedidos-pendiente-validacion></ngx-pedidos-pendiente-validacion>
  </nb-card-body>
</nb-card>

<!--Productos Combinados con Precios Diferente-->
<nb-card *ngIf="preciosDistintosCombinados > 0">
  <nb-card-header>Productos Combinados con precio diferente</nb-card-header>
  <nb-card-body>
    <ngx-combinados-precios-diferentes></ngx-combinados-precios-diferentes>
  </nb-card-body>
</nb-card>

<!--Pedidos Duplicados-->
<nb-card *ngIf="pedidosDuplicados > 0">
  <nb-card-header>Pedidos OR- Duplicados</nb-card-header>
  <nb-card-body>
    <ngx-or-duplicados></ngx-or-duplicados>
  </nb-card-body>
</nb-card>

<!--Productos Categorizados Oulet-->
<nb-card *ngIf="productosCategorizadosOulet > 0">
  <nb-card-header>Productos solo Categorizados en Outlet</nb-card-header>
  <nb-card-body>
    <ngx-productos-categorizados-oulet></ngx-productos-categorizados-oulet>
  </nb-card-body>
</nb-card>

<!--Productos Sin categoría Predeterminada-->
<nb-card *ngIf="productosSinCategoriaPredeterminada > 0">
  <nb-card-header>Productos sin categoría Predeterminada</nb-card-header>
  <nb-card-body>
    <ngx-productos-sin-categoria-predeterminada></ngx-productos-sin-categoria-predeterminada>
  </nb-card-body>
</nb-card>


<!--Productos Sin MP_NombreArticulo-->
<nb-card *ngIf="productosSinMpNombreProducto > 0">
  <nb-card-header>Productos sin MP Nombre Artículo</nb-card-header>
  <nb-card-body>
    <ngx-productos-sin-mp-nombre-articulo></ngx-productos-sin-mp-nombre-articulo>
  </nb-card-body>
</nb-card>


<!--Productos desactivados en elementor-->
<!-- <nb-card>
  <nb-card-header>Productos desactivados en slider de elementor</nb-card-header>
  <nb-card-body>
    <ngx-productos-elementor></ngx-productos-elementor>
  </nb-card-body>
</nb-card> -->



