<div id="tablaRoturas">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ean13</th>
        <th scope="col">Id Producto</th>
        <th scope="col">Producto</th>
        <th scope="col">Imagen</th>
        <th scope="col">Hoy</th>
        <th scope="col">Hace 1 Dia</th>
        <th scope="col">Hace 2 Días</th>
        <th scope="col">Hace 3 Días</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of source">
        <td>{{ dato.ean13 }}</td>
        <td>{{ dato.id_producto }}</td>
        <td>{{ dato.name }}</td>
        <td align="center"><img src="{{ dato.imagen }}"></td>
        <td align="center">{{ dato.stock_hoy }}</td>
        <td align="center">{{ dato.stock_hoy_1 }}</td>
        <td align="center">{{ dato.stock_hoy_2 }}</td>
        <td align="center">{{ dato.stock_hoy_3 }}</td>
      </tr>
    </tbody>
  </table>

</div>
