<div id="tablaTopHoy">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Imagen</th>
        <th scope="col">Producto</th>
        <th scope="col">Categoría</th>
        <th style="text-align: center;" scope="col">Cantidad Vendida</th>
        <th scope="col">Stock Actual</th>
        <th scope="col">Total <br>(Con Iva)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let top of productosTop">
        <td>{{ top.id_product }}</td>
        <td><img src="{{ top.imagen }}"></td>
        <td>{{ top.name }}</td>
        <td>{{ top.nombre_cat }}</td>
        <td align="center">{{ top.suma_cantidad}}</td>
        <td>{{ top.stock }}</td>
        <td>{{ top.suma_importes | currency:'EUR': true}}</td>
      </tr>
    </tbody>
  </table>

</div>
