<nb-card size="large" style="height: 100%; width: 100%;">

  <nb-card-header>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <span><b>Abonos - Agencias de Transporte</b></span>
      </div>
      <div>
        <span *ngIf="fechaInicio != null">Fechas: {{ fechaInicio }} - {{ fechaFin }} </span>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body class="two-inputs">

    <div style="display: flex; justify-content: flex-end;" >

      <div>
        <input nbInput placeholder="Seleccionar Fecha:" [nbDatepicker]="rangepicker">
        <nb-rangepicker #rangepicker (rangeChange)="cambioRango($event)"></nb-rangepicker>
      </div>

      <div>
        <button nbButton status="primary" style="margin-left: 15px;" (click)="buscarAbonos()">Buscar</button>
      </div>
    </div><br><br>

    <ng2-smart-table [settings]="config" [source]="source" style="width: 95%;"></ng2-smart-table>

  </nb-card-body>
</nb-card>
