<div id="ventasSemanales">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="text-align: center;">Id Producto</th>
        <th scope="col" style="text-align: center;">Producto</th>
        <th scope="col" style="text-align: center;">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of source">
        <td align="center">{{ dato.id_product }}</td>
        <td align="center">{{ dato.nombreProducto }}</td>
        <td align="center">{{ dato.stock }}</td>
    </tbody>
  </table>

</div>
