<div id="tablaPedidosNoEnviados">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id Producto</th>
        <th scope="col">Ean13</th>
        <th scope="col">Producto</th>
        <th scope="col">Active</th>
        <th scope="col">Stock</th>
        <th scope="col">Bullet 1</th>
        <th scope="col">Bullet 2</th>
        <th scope="col">Bullet 3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bullet of source">
        <td>{{ bullet.id_product }}</td>
        <td>{{ bullet.ean }}</td>
        <td>{{ bullet.name_es }}</td>
        <td>{{ bullet.active }}</td>
        <td>{{ bullet.stock }}</td>
        <td>{{ bullet.bullet_1 }}</td>
        <td>{{ bullet.bullet_2 }}</td>
        <td>{{ bullet.bullet_3 }}</td>
      </tr>
    </tbody>
  </table>
</div>
