<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id Producto</th>
      <th scope="col">Id Ax</th>
      <th scope="col">Producto</th>
      <th scope="col">Atributo</th>
      <th scope="col">Valor Atributo Ax</th>
      <th scope="col">Oferta(AX)</th>
      <th scope="col">Precio(AX)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let precio of source">
      <td>{{ precio.id_PS }}</td>
      <td>{{ precio.itemID_AX}}</td>
      <td>{{ precio.name }}</td>
      <td>{{ precio.name_att }}</td>
      <td>{{ precio.name_value_att }}</td>
      <td>{{ precio.precioOfertaAx | currency:'EUR': true}}</td>
      <td>{{ precio.price | currency:'EUR': true}}</td>
    </tr>
  </tbody>
</table>
