<br>
<b><span style="text-decoration: underline;">Lineas Abonadas</span></b>
<br>
  <table class="table mb-0 table-striped">
    <thead class="bg-dark text-white">
      <tr style="text-align: center;">
        <th>Or Pedido</th>
        <th>Id Producto</th>
        <th>Imágen</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Estado</th>
        <th>Total Abono</th>
        <th>Motivar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let abo of source; let i = index">
        <td align="center">{{ abo.referenciaPs }}</td>
        <td align="center">{{ abo.id_product }}</td>
        <td align="center"><img src="{{ abo.imagen }}" alt=""></td>
        <td align="center">{{ abo.nombreProducto }}</td>
        <td align="center">{{ abo.cantidadVendida }}</td>
        <td align="center">{{ abo.motivo }}</td>
        <td align="right">{{ abo.precioFinal| currency:'EUR': true }}</td>
        <td align="center">
          <button nbButton status="basic" (click)="open(abo.id,abo.idFactura,abo.pedidoAx,abo.id_product,abo.nombreProducto,abo.cantidadVendida,abo.precioFinal,abo.imagen)"><nb-icon icon="plus-square-outline"></nb-icon></button>
        </td>
      </tr>

    </tbody>
  </table>
  <br>
