<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header>Control Historico Stock</nb-card-header>
  <nb-card-body style="height: 100%;">

    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <span>Introduce un número de EAN13 y pulsa buscar.</span>
      </div>
      <div style="display: flex; justify-content: end; padding: 15px;">
        <div style="margin-right: 15px;">
          <input type="text" nbInput fullWidth placeholder="Ean13:" [(ngModel)]="ean13">
        </div>
        <div>
          <button nbButton status="primary" (click)="buscar(ean13)">Buscar</button>
        </div>
      </div>
    </div><br><br>

    <div>
      <ng2-smart-table [settings]="config" [source]="historicoStock" *ngIf="idProductoStock">
      </ng2-smart-table>
    </div>

  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" *ngIf="idProductoStock">
  <nb-card-header>Gráfico</nb-card-header>
  <nb-card-body>

    <br>
      <div style="width: 90%; margin: auto;">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    <br>

  </nb-card-body>
</nb-card>
