<div class="row">
  <!--Ventas dia(-7)-->
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card>
      <nb-card-header>Comparación de ventas Hoy vs hace 7 días</nb-card-header>
        <nb-card-body>
          <ngx-ventas-semanal></ngx-ventas-semanal>
        </nb-card-body>
    </nb-card>
  </div>
  <!--Cuadrado Con porcentajes-->
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card>
        <nb-card-body>
          <ngx-cuadro-avance-semanal></ngx-cuadro-avance-semanal>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!--Productos Top Hoy-->
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Datos Facturación Ax</nb-card-header>
        <nb-card-body>
          <ngx-datos-facturacion-ax></ngx-datos-facturacion-ax>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<!--Segunda Parte Dashboard-->
<div class="row">
  <!--DashBoard Ventas hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Canal de Ventas Hoy (Con Iva)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas></ngx-grafico-ventas>
        </nb-card-body>
    </nb-card>
  </div>
  <!--DashBoard Ventas hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Canal de Ventas hace 7 días (Con Iva)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas-una-semana></ngx-grafico-ventas-una-semana>
        </nb-card-body>
    </nb-card>
  </div>
  <!--DashBoard Ventas hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Canal de Ventas hace 30 días (Con Iva)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas-un-mes></ngx-grafico-ventas-un-mes>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!--Top 10 Abonos/Motivos-->
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Top 10 Abonos/Motivos</nb-card-header>
        <nb-card-body>
          <ngx-top-abonos-motivos></ngx-top-abonos-motivos>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!--Top 10 Productos Abonados-->
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Top 10 Productos Abonados</nb-card-header>
        <nb-card-body>
          <ngx-top-productos-abonados></ngx-top-productos-abonados>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<!--Graficos de Abonos-->

<div class="row">
  <!--Abonos Hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Abonos Hoy</nb-card-header>
        <nb-card-body>
          <ngx-grafico-abonos-hoy></ngx-grafico-abonos-hoy>
        </nb-card-body>
    </nb-card>
  </div>
  <!--Abonos Hace 7 Dias-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Abonos Hace 7 Días</nb-card-header>
        <nb-card-body>
          <ngx-grafico-abonos-hace7-dias></ngx-grafico-abonos-hace7-dias>
        </nb-card-body>
    </nb-card>
  </div>
  <!--Abonos hace 30 dias-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Abonos Hace 30 Días</nb-card-header>
        <nb-card-body>
          <ngx-grafico-abonos-hace30dias></ngx-grafico-abonos-hace30dias>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<!----->

<div class="row">
  <!--Productos Top Hoy-->
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Productos Top Hoy</nb-card-header>
        <nb-card-body>
          <ngx-productos-top-hoy></ngx-productos-top-hoy>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!--Productos Top ultimos 7 dias-->
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Productos Top Últimos 7 Días</nb-card-header>
        <nb-card-body>
          <ngx-productos-top-hace7-dias></ngx-productos-top-hace7-dias>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!--Productos Top ultimos 30 dias-->
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Productos Top Últimos 30 Días</nb-card-header>
        <nb-card-body>
          <ngx-productos-top-hace30-dias></ngx-productos-top-hace30-dias>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<!--Tercer Parte-->
<div class="row">
  <!--DashBoard Ventas Paises hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Ventas por Paises Hoy (Con Iva)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas-paises-hoy></ngx-grafico-ventas-paises-hoy>
        </nb-card-body>
    </nb-card>
  </div>
  <!--DashBoard Ventas Paises hoy -7-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Ventas por Paises hace 7 días (Con Iva)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas-paises-una-semana></ngx-grafico-ventas-paises-una-semana>
        </nb-card-body>
    </nb-card>
  </div>
  <!--DashBoard Ventas Paises hoy -30-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Ventas por Paises hace 30 días (Con Iva)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas-paises-un-mes></ngx-grafico-ventas-paises-un-mes>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<!--Cuarta Parte-->
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Comparación 2021 vs 2022 (Con Iva)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-comparacion-ventas></ngx-grafico-comparacion-ventas>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<!--Quinta Parte-->
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Roturas</nb-card-header>
        <nb-card-body>
          <ngx-rotura-stock-dashboard></ngx-rotura-stock-dashboard>
        </nb-card-body>
    </nb-card>
  </div>
</div>



<!--Conectores Canales-->
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>Control de Conectores de Canales</nb-card-header>
        <nb-card-body>
          <ngx-conectores-canales></ngx-conectores-canales>
        </nb-card-body>
    </nb-card>
  </div>
</div>

