<div class="row">
  <!--Productos Top Hoy-->
  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-card>
      <nb-card-header>Productos Top Hoy</nb-card-header>
        <nb-card-body>
          <ngx-productos-top-hoy></ngx-productos-top-hoy>
        </nb-card-body>
    </nb-card>
  </div>
  <!--Cuadrado Con porcentajes-->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
        <nb-card-body>
          <ngx-cuadro-avance-semanal></ngx-cuadro-avance-semanal>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<!--Segunda Parte Dashboard-->
<div class="row">
  <!--DashBoard Ventas hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Gráfico de Ventas Hoy</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas></ngx-grafico-ventas>
        </nb-card-body>
    </nb-card>
  </div>
  <!--DashBoard Ventas hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Gráfico de Ventas (-7 dias)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas-una-semana></ngx-grafico-ventas-una-semana>
        </nb-card-body>
    </nb-card>
  </div>
  <!--DashBoard Ventas hoy-->
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <nb-card>
      <nb-card-header>Gráfico de Ventas (-30 dias)</nb-card-header>
        <nb-card-body>
          <ngx-grafico-ventas-un-mes></ngx-grafico-ventas-un-mes>
        </nb-card-body>
    </nb-card>
  </div>
</div>


