<nb-card>
  <nb-card-header>Registro Documentos</nb-card-header>

  <nb-card-body>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <!--Boton para guardar Archivos-->
      <button nbButton status="basic" (click)="open()"><nb-icon icon="file-add-outline"></nb-icon></button><br>

      <div style="display: flex;">
        <div>
          <input type="text" nbInput [(ngModel)]="ean13" placeholder="Ean13: ">
        </div>
        <div style="margin-left: 10px;">
          <button nbButton status="primary" (click)="buscarDocumentos()"><nb-icon icon="search-outline"></nb-icon></button>
        </div>
      </div>
    </div><br><br>

    <!--Tabla para mostrar Archivos guardados dado ean13-->
    <ng2-smart-table [settings]="config" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>

  </nb-card-body>
</nb-card>
