<nb-card size="large" style="height: 100%;">

  <nb-card-header>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <b><span>Productos Vendidos</span></b>
      </div>
      <div>
        <span *ngIf="fechaInicio != null">Fechas: {{ fechaInicio }} - {{ fechaFin }} , <span style="color: red;"> Total : {{ tamanoArray }} productos</span></span>

      </div>
    </div>
    </nb-card-header>

  <nb-card-body class="two-inputs">

    <div style="display: flex; justify-content: flex-end; align-items: center; padding: 15px;">
      <!--IDPRODUCT-->
      <div style="padding: 10px;">
        <input type="text" nbInput fullWidth placeholder="IdProduct:" [(ngModel)]="idProduct">
      </div>
      <!--FECHAS-->
      <div style="padding: 10px;">
          <input nbInput placeholder="Seleccionar Fecha:" [nbDatepicker]="rangepicker">
          <nb-rangepicker #rangepicker (rangeChange)="cambioRango($event)"></nb-rangepicker>
      </div>
      <!--TIENDA-->
      <div style="margin-right: 20px; padding: 10px;">
        <nb-select placeholder=" Canal de Pago " (selectedChange)="select($event)">
          <nb-option *ngFor="let name of tiendas; let i = index" [value]="i+1">{{ name }}</nb-option>
        </nb-select>
      </div>
      <!--BOTON-->
      <div>
        <button nbButton status="primary" (click)="buscarProducto(idProduct)">Buscar</button>
      </div>
  </div>

  <ng2-smart-table [settings]="config" [source]="arrayRelleno" ></ng2-smart-table>

  </nb-card-body>

  <!-- <div *ngIf="mostrarTabla" style="width: 90%; padding: 25px; margin: auto; height: 100%;">
    <canvas id="canvasSumatoria">{{ chartSumatoria }}</canvas>
  </div> -->

</nb-card>


