<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id Producto</th>
      <th scope="col">Id Atributo</th>
      <th scope="col">Id Ax</th>
      <th scope="col">Referencia</th>
      <th scope="col">Producto</th>
      <th scope="col">Atributo</th>
      <th scope="col">Valor Atributo</th>
      <th scope="col">Stock</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pro of productos">
      <td>{{ pro.id_product }}</td>
      <td>{{ pro.id_product_attribute }}</td>
      <td>{{ pro.id_ax }}</td>
      <td>{{ pro.reference }}</td>
      <td>{{ pro.nombreProducto }}</td>
      <td>{{ pro.nombreAtributo }}</td>
      <td>{{ pro.nombreValorAtt }}</td>
      <td>{{ pro.stock }}</td>
      <td>{{ pro.date_add }}</td>
    </tr>
  </tbody>
</table>
