<div id="tablaRoturas">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="text-align: center;">Dia</th>
        <th scope="col" style="text-align: center;">Total Pedidos</th>
        <th scope="col" style="text-align: center;">Total Incis</th>
        <th scope="col" style="text-align: center;">Total Abonos</th>
        <th scope="col" style="text-align: center;">Importe Pedidos (S/I) </th>
        <th scope="col" style="text-align: center;">Importe Incis (S/I)</th>
        <th scope="col" style="text-align: center;">Importe Abonos (S/I)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of source">
        <td align="right">{{ dato.dia }}</td>
        <td align="right">{{ dato.suma_ped }}</td>
        <td align="right">{{ dato.suma_incis }}</td>
        <td align="right">{{ dato.suma_abo }}</td>
        <td align="right">{{ dato.total_ped_s_i | currency:'EUR': true}}</td>
        <td align="right">{{ dato.total_incis_s_i | currency:'EUR': true}}</td>
        <td align="right">{{ dato.total_abo_s_i | currency:'EUR': true}}</td>
      </tr>
    </tbody>
  </table>
</div>
