<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Total pedido</th>
      <th scope="col">Total pagado</th>
      <th scope="col">DIFERENCIA</th>
      <th scope="col">URL pedido</th>
      <th scope="col">Nº de pedido</th>
      <th scope="col">Pago/canal</th>
      <th scope="col">Fecha pedido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let diferencia of arrayDiferenciaPagos">
      <td>{{ diferencia.total_paid | currency:'EUR': true}}</td>
      <td>{{ diferencia.amount | currency:'EUR': true}}</td>
      <td>{{ diferencia.diferencia | currency:'EUR': true}}</td>
      <td><a href="https://orion91.com/admin753tbd1ux/index.php?controller=AdminOrders&vieworder=&id_order={{ diferencia.id_order }}" target="_blank">Ir a pedido</a></td>
      <td>{{ diferencia.reference }}</td>
      <td>{{ diferencia.payment }}</td>
      <td>{{ diferencia.date_add}}</td>
    </tr>
  </tbody>
</table>
