<nb-card size="large" style="height: 100%; width: 100%;">
  <nb-card-header>Ventas Por 100Mil Habitantes</nb-card-header>

  <nb-card-body>
      <div>
        <div style="background-color: white; margin: auto;">
          <table style="border: 2px solid black; margin: auto;">
            <tr>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &lt; 10  </td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 15 Y &lt;= 20 </td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 20 Y &lt;= 25 </td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 25 Y &lt;= 30 </td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 30 Y &lt;= 35 </td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 35 Y &lt;= 40 </td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 40 Y &lt;= 45</td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 45 Y &lt;= 50</td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 50 Y &lt;= 55</td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt; 55 Y &lt;= 65</td>
              <td align="center" style="padding: 5px; border-right: 1px solid;"> &gt;= 65 </td>
            </tr>
            <tr>
              <td style="background-color: #e3ff14; padding: 5px; color: #e3ff14;">COLORES</td>
              <td style="background-color: #6fcff7; padding: 5px; color: #6fcff7 ;">COLORES</td>
              <td style="background-color: #5bb1e6; padding: 5px; color: #5bb1e6;">COLORES</td>
              <td style="background-color: #51a3de; padding: 5px;color: #51a3de;">COLORES</td>
              <td style="background-color: #4794d5; padding: 5px; color: #4794d5;">COLORES</td>
              <td style="background-color: #3c85cd; padding: 5px;color: #3c85cd;">COLORES</td>
              <td style="background-color: #3276c5; padding: 5px; color: #3276c5;">COLORES</td>
              <td style="background-color: #2867bc; padding: 5px; color: #2867bc;">COLORES</td>
              <td style="background-color: #1e58b4; padding: 5px; color: #1e58b4;">COLORES</td>
              <td style="background-color: #144aac; padding: 5px;color: #144aac;">COLORES</td>
              <td style="background-color: #0a3ba3; padding: 5px; color: #0a3ba3;">COLORES</td>
            </tr>
          </table>
        </div>

        <div
        leaflet
        style="height: 800px"
        [leafletOptions]="options"
        (leafletMapReady)="onMapReady($event)">
      </div>
      </div>


  </nb-card-body>
</nb-card>
