<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id Producto</th>
      <th scope="col">Ean13</th>
      <th scope="col">Reference</th>
      <th scope="col">Precio Orion91</th>
      <th scope="col">Precio Ax</th>
      <th scope="col">Producto</th>
      <th scope="col">Atributo</th>
      <th scope="col">Valor Atributo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let precio of preciosAx">
      <td>{{ precio.id_product }}</td>
      <td>{{ precio.ean13}}</td>
      <td>{{ precio.reference }}</td>
      <td>{{ precio.precioORION91 | currency:'EUR': true}}</td>
      <td>{{ precio.precioAX | currency:'EUR': true}}</td>
      <td>{{ precio.nombre_producto }}</td>
      <td>{{ precio.nombre_atributo }}</td>
      <td>{{ precio.nombre_valor_att }}</td>
    </tr>
  </tbody>
</table>
