<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col">Referencia</th>
      <th scope="col">Ruta Pedido Prestashop</th>
      <th scope="col">Método de Pago</th>
      <th scope="col">Fecha de Creación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pendientes of arrayPendientesAlmacen">
      <td>{{ pendientes.id_order }}</td>
      <td>{{ pendientes.reference }}</td>
      <td><a href="{{ pendientes.url }}" target="_blank">{{ pendientes.url }}</a></td>
      <td>{{ pendientes.payment }}</td>
      <td>{{ pendientes.date_add}}</td>
    </tr>
  </tbody>
</table>
