<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header>Precios Makro</nb-card-header>

  <nb-card-body>

    <br><br>
    <div style="display: flex; justify-content: flex-end;">
      <div style="padding: 10px;">
        <nb-select placeholder="Rango: " (selectedChange)="seleccionRango($event)">
          <nb-option *ngFor="let combo of comboRangos" [value]="combo.value">{{ combo.name }}</nb-option>
        </nb-select>
      </div>
      <div style="padding: 10px;">
        <nb-select placeholder="Stock: " (selectedChange)="seleccionStock($event)">
          <nb-option *ngFor="let stock of comboCantidadStock" [value]="stock.value">{{ stock.name }}</nb-option>
        </nb-select>
      </div>
      <div style="padding: 10px;">
        <button nbButton status="primary" (click)="buscar()">Buscar</button>
      </div>
      <div style="padding: 10px;">
        <button nbButton status="primary" (click)="volverAbuscar()">Volver a buscar</button>
      </div>
    </div>

    <br><br>


            <div class="table-responsive cnstr-record product-tbl">
              <table class="table table-bordered heading-hvr">
                <thead>
                  <tr>
                    <th> </th>
                    <th>Número Rangos</th>
                    <th>GTIN</th>
                    <th>SKU</th>
                    <th>Producto</th>
                    <th>Stock</th>
                    <th>PrecioPS</th>
                    <th>Precio Makro</th>
                    <th>Margen</th>
                    <th>Pallet</th>
                    <th>Pack</th>
                    <th>PMP</th>
                    <th>Crear Rango</th>
                  </tr>
                </thead>
                <tbody *ngFor="let product of productosPublicados; let i = index">
                  <tr>
                    <td align="center">
                        <nb-icon icon="maximize-outline" pack="eva" class="expand-row" *ngIf="!hideme[i]" (click)="showLinea(i)"></nb-icon>
                        <nb-icon icon="minimize-outline" pack="eva" class="expand-row" *ngIf="hideme[i]" (click)="hideme[i] = !hideme[i]"></nb-icon>
                    </td>
                    <td>{{product.contadorRangos}}</td>
                    <td>{{product.gtin}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.pricePs}}</td>
                    <td>{{product.priceMakro}}</td>
                    <td>{{product.margen}}</td>
                    <td>{{product.pallet}}</td>
                    <td>{{product.pack}}</td>
                    <td>{{product.pmp}}</td>
                    <td align="center">
                      <nb-icon icon="plus-square-outline" pack="eva" *ngIf="!formulario[i]" (click)="showFormulario(i)"></nb-icon>
                      <nb-icon icon="minus-square-outline" pack="eva" *ngIf="formulario[i]" (click)="formulario[i] = !formulario[i]"></nb-icon>
                    </td>
                  </tr>

                  <!--Parte de los Rangos-->

                  <tr [hidden]="!formulario[i]" class="sub-table no-bg">
                    <td align="center"> </td>
                    <td colspan="15" class="p-0">
                      <ngx-registrar-rango  [sku] = "product.sku" [contadorRangos] = "product.contadorRangos" [margen] = "product.margen" [pmp] = "product.pmp" [precio] = "product.priceMakro" [precioPadre] = "product.pricePs"></ngx-registrar-rango>
                    </td>
                  </tr>

                  <tr [hidden]="!hideme[i]" class="sub-table no-bg">
                    <td align="center"> </td>
                    <td colspan="15" class="p-0">
                      <ngx-rangos-makro [sku] = "product.sku" [contadorRangos] = "product.contadorRangos" [margen] = "product.margen" [pmp] = "product.pmp" [precio] = "product.priceMakro" [precioPadre] = "product.pricePs"></ngx-rangos-makro>
                    </td>
                  </tr>

                </tbody>
              </table>


            </div>
<nb-card-body>
