<nb-card size="large" style="height: 100%; width: 100%;">

  <nb-card-header>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <span><b>Abonos</b></span>
      </div>
      <div>
        <span *ngIf="fechaInicio != null">Fechas: {{ fechaInicio }} - {{ fechaFin }} , <span style="color: red;"> Total Abonado: {{ total | currency:'EUR': true}}</span></span>
      </div>
    </div>

  </nb-card-header>

  <nb-card-body class="two-inputs">

    <div style="display: flex; justify-content: flex-end;" >
      <div>
        <input nbInput placeholder="Seleccionar Fecha:" [nbDatepicker]="rangepicker">
        <nb-rangepicker #rangepicker (rangeChange)="cambioRango($event)"></nb-rangepicker>
      </div>

      <div>
        <button nbButton status="primary" style="margin-left: 15px;" (click)="buscarAbono()">Buscar</button>
      </div>
    </div>

    <br><br>

    <!--Tabla de Abonos según fechas-->
    <div class="table-responsive cnstr-record product-tbl">
      <table class="table table-bordered heading-hvr">
        <thead>
          <tr style="text-align: center;">
            <th> </th>
            <th>AB</th>
            <th>PVC</th>
            <th>OR</th>
            <th>ESTADO PEDIDO</th>
            <th>TRANSPORTE</th>
            <th>TOTAL LINEAS</th>
            <th>TOTAL MOTIVADOS</th>
            <th>TOTAL ABONO</th>
            <th>FECHA ABONO</th>
          </tr>
        </thead>
        <tbody *ngFor="let abo of abonos; let i = index">
          <tr *ngIf="abo.cantidadMotivados == 0 && abo.cantidadMotivados < abo.cantidadProductos" style="color: red; font-weight: bold">
            <td align="center">
                <nb-icon icon="maximize-outline" pack="eva" class="expand-row" *ngIf="!hideme[i]" style="color: black !important;" (click)="showLinea(i)"></nb-icon>
                <nb-icon icon="minimize-outline" pack="eva" class="expand-row" *ngIf="hideme[i]" style="color: black !important;" (click)="hideme[i] = !hideme[i]"></nb-icon>
            </td>
            <td align="center">{{abo.idFactura}}</td>
            <td align="center">{{abo.pedidoAx}}</td>
            <td align="center">{{abo.referenciaPs}}</td>
            <td align="center">
              <div style="display: flex; justify-content: center;">
                <div *ngIf="abo.estadoPedido == 'Enviado' || abo.estadoPedido == 'Pagado' || abo.estadoPedido == 'Amazon Prime' || abo.estadoPedido == 'En Proceso' || abo.estadoPedido == 'Entregado'" style="margin-right: 5px;">
                  <nb-icon icon="alert-triangle-outline" pack="eva" style="color: black !important;"></nb-icon>
                </div>
                <div>{{ abo.estadoPedido }}</div>
              </div>

            </td>
            <td align="right">{{ abo.transporte| currency:'EUR': true }}</td>
            <td align="right">{{ abo.cantidadProductos }}</td>
            <td align="right">{{ abo.cantidadMotivados }}</td>
            <td align="right">{{abo.precioFinal| currency:'EUR': true}}</td>
            <td align="center">{{ abo.fechaFactura }}</td>
          </tr>

          <tr *ngIf="abo.cantidadMotivados != 0 && abo.cantidadMotivados < abo.cantidadProductos" style="color: orange; font-weight: bold">
            <td align="center">
                <nb-icon icon="maximize-outline" pack="eva" class="expand-row" *ngIf="!hideme[i]" style="color: black !important;" (click)="showLinea(i)"></nb-icon>
                <nb-icon icon="minimize-outline" pack="eva" class="expand-row" *ngIf="hideme[i]" style="color: black !important;" (click)="hideme[i] = !hideme[i]"></nb-icon>
            </td>
            <td align="center">{{abo.idFactura}}</td>
            <td align="center">{{abo.pedidoAx}}</td>
            <td align="center">{{abo.referenciaPs}}</td>
            <td align="center">
              <div style="display: flex; justify-content: center;">
                <div *ngIf="abo.estadoPedido == 'Enviado' || abo.estadoPedido == 'Pagado' || abo.estadoPedido == 'Amazon Prime' || abo.estadoPedido == 'En Proceso'" style="margin-right: 5px;">
                  <nb-icon icon="alert-triangle-outline" pack="eva" style="color: red;"></nb-icon>
                </div>
                <div>{{ abo.estadoPedido }}</div>
              </div>

            </td>
            <td align="right">{{ abo.transporte| currency:'EUR': true }}</td>
            <td align="right">{{ abo.cantidadProductos }}</td>
            <td align="right">{{ abo.cantidadMotivados }}</td>
            <td align="right">{{abo.precioFinal| currency:'EUR': true}}</td>
            <td align="center">{{ abo.fechaFactura }}</td>
          </tr>

          <tr *ngIf="abo.cantidadMotivados == abo.cantidadProductos" style="color: green; font-weight: bold">
            <td align="center">
                <nb-icon icon="maximize-outline" pack="eva" class="expand-row" style="color: black !important;" *ngIf="!hideme[i]" (click)="showLinea(i)"></nb-icon>
                <nb-icon icon="minimize-outline" pack="eva" class="expand-row" style="color: black !important;" *ngIf="hideme[i]" (click)="hideme[i] = !hideme[i]"></nb-icon>
            </td>
            <td align="center">{{abo.idFactura}}</td>
            <td align="center">{{abo.pedidoAx}}</td>
            <td align="center">{{abo.referenciaPs}}</td>
            <td align="center">
              <div style="display: flex; justify-content: center;">
                <div *ngIf="abo.estadoPedido == 'Enviado' || abo.estadoPedido == 'Pagado' || abo.estadoPedido == 'Amazon Prime' || abo.estadoPedido == 'En Proceso'" style="margin-right: 5px;">
                  <nb-icon icon="alert-triangle-outline" pack="eva" style="color: red;"></nb-icon>
                </div>
                <div>{{ abo.estadoPedido }}</div>
              </div>

            </td>
            <td align="right">{{ abo.transporte| currency:'EUR': true }}</td>
            <td align="right">{{ abo.cantidadProductos }}</td>
            <td align="right">{{ abo.cantidadMotivados }}</td>
            <td align="right">{{abo.precioFinal| currency:'EUR': true}}</td>
            <td align="center">{{ abo.fechaFactura }}</td>
          </tr>


          <tr [hidden]="!hideme[i]" class="sub-table no-bg">
            <td align="center"> </td>
            <td colspan="15" class="p-0">
              <ngx-abonos-lineas [orPedido]="abo.referenciaPs"></ngx-abonos-lineas>
              <ngx-incidencia-por-abono [orPedido]="abo.referenciaPs"></ngx-incidencia-por-abono>
            </td>
          </tr>

        </tbody>
      </table>


    </div>

  </nb-card-body>



</nb-card>
