:host ::ng-deep ng2-smart-table td:nth-child(5){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(7){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(9){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(11){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(13){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(15){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(17){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(19){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(21){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(23){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(25){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(27){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(29){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(31){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(33){
  text-align: right;
}
:host ::ng-deep ng2-smart-table td:nth-child(35){
  text-align: right;
}
